In [6]:
import geopandas as gpd
import geohash
import pandas as pd
import numpy as np
import fiona
import json
import shapely
import shapely.geometry
from shapely.geometry import Point
from osgeo import ogr
import requests
import psycopg2
from sqlalchemy import create_engine
import psycopg2
from sqlalchemy import create_engine

In [10]:
test = (3.0876767, 101.5458488)
long1 = 101.5458488
lat1 = 3.0876767

In [19]:
gadm_0 = gpd.GeoDataFrame.from_file('D:\Datasets\GeoSpatial\gadm_data/gadm36_MYS_0.shp')
gadm_1 = gpd.GeoDataFrame.from_file('D:\Datasets\GeoSpatial\gadm_data/gadm36_MYS_1.shp')
gadm_2 = gpd.GeoDataFrame.from_file('D:\Datasets\GeoSpatial\gadm_data/gadm36_MYS_2.shp')

### DataFrame already initialized

In [24]:
def latlong_to_country(lat1, long1):
    for index, gadm in gadm_0.iterrows():
        if gadm['geometry'].intersects(Point(long1, lat1)):
            return(gadm['NAME_0'])
        
def latlong_to_state(lat1, long1):
    for index, gadm in gadm_1.iterrows():
        if gadm['geometry'].intersects(Point(long1, lat1)):
            return(gadm['NAME_1'])
        
def latlong_to_district(lat1, long1):
    for index, gadm in gadm_2.iterrows():
        if gadm['geometry'].intersects(Point(long1, lat1)):
            return(gadm['NAME_2'])
        
def latlong_to_country_polygon(lat1, long1):
    for index, gadm in gadm_0.iterrows():
        if gadm['geometry'].intersects(Point(long1, lat1)):
            return(gadm['geometry'])
        
def latlong_to_state_polygon(lat1, long1):
    for index, gadm in gadm_1.iterrows():
        if gadm['geometry'].intersects(Point(long1, lat1)):
            return(gadm['geometry'])
        
def latlong_to_district_polygon(lat1, long1):
    for index, gadm in gadm_2.iterrows():
        if gadm['geometry'].intersects(Point(long1, lat1)):
            return(gadm['geometry'])
    
    
print(latlong_to_country(lat1, long1))
print(latlong_to_state(lat1, long1))
print(latlong_to_district(lat1, long1))

print(latlong_to_country_polygon(lat1, long1))
print(latlong_to_state_polygon(lat1, long1))
print(latlong_to_district_polygon(lat1, long1))

Malaysia
Selangor
Petaling

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

### Dataframe initialize within function. (Self contained function)

In [27]:
def latlong_to_country(lat1, long1, path):
    gadm_0 = gpd.GeoDataFrame.from_file(path)
    for index, gadm in gadm_0.iterrows():
        if gadm['geometry'].intersects(Point(long1, lat1)):
            return(gadm['NAME_0'])
        
def latlong_to_state(lat1, long1, path):
    gadm_1 = gpd.GeoDataFrame.from_file(path)
    for index, gadm in gadm_1.iterrows():
        if gadm['geometry'].intersects(Point(long1, lat1)):
            return(gadm['NAME_1'])
        
def latlong_to_district(lat1, long1, path):
    gadm_2 = gpd.GeoDataFrame.from_file(path)
    for index, gadm in gadm_2.iterrows():
        if gadm['geometry'].intersects(Point(long1, lat1)):
            return(gadm['NAME_2'])
        
def latlong_to_country_polygon(lat1, long1, path):
    gadm_0 = gpd.GeoDataFrame.from_file(path)
    for index, gadm in gadm_0.iterrows():
        if gadm['geometry'].intersects(Point(long1, lat1)):
            return(gadm['geometry'])
        
def latlong_to_state_polygon(lat1, long1, path):
    gadm_1 = gpd.GeoDataFrame.from_file(path)
    for index, gadm in gadm_1.iterrows():
        if gadm['geometry'].intersects(Point(long1, lat1)):
            return(gadm['geometry'])
        
def latlong_to_district_polygon(lat1, long1, path):
    gadm_2 = gpd.GeoDataFrame.from_file(path)
    for index, gadm in gadm_2.iterrows():
        if gadm['geometry'].intersects(Point(long1, lat1)):
            return(gadm['geometry'])
    
    
print(latlong_to_country(lat1, long1, 'D:\Datasets\GeoSpatial\gadm_data/gadm36_MYS_0.shp'))
print(latlong_to_state(lat1, long1, 'D:\Datasets\GeoSpatial\gadm_data/gadm36_MYS_1.shp'))
print(latlong_to_district(lat1, long1, 'D:\Datasets\GeoSpatial\gadm_data/gadm36_MYS_2.shp'))

print(latlong_to_country_polygon(lat1, long1, 'D:\Datasets\GeoSpatial\gadm_data/gadm36_MYS_0.shp'))
print(latlong_to_state_polygon(lat1, long1, 'D:\Datasets\GeoSpatial\gadm_data/gadm36_MYS_1.shp'))
print(latlong_to_district_polygon(lat1, long1, 'D:\Datasets\GeoSpatial\gadm_data/gadm36_MYS_2.shp'))

Malaysia
Selangor
Petaling

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [14]:
gadm_1.head()

,GID_0,NAME_0,GID_1,NAME_1,VARNAME_1,NL_NAME_1,TYPE_1,ENGTYPE_1,CC_1,HASC_1,geometry
0,MYS,Malaysia,MYS.1_1,Johor,Johor Darul Takzim|Johore,None,Negeri,State,None,MY.JH,"MULTIPOLYGON (((104.11916 1.92278, 104.11806 1..."
1,MYS,Malaysia,MYS.2_1,Kedah,Kedah Darul Aman,None,Negeri,State,None,MY.KH,"MULTIPOLYGON (((100.32889 5.66444, 100.32917 5..."
2,MYS,Malaysia,MYS.3_1,Kelantan,<Null>,None,Negeri,State,None,MY.KN,"MULTIPOLYGON (((102.17395 6.20126, 102.17395 6..."
3,MYS,Malaysia,MYS.4_1,Kuala Lumpur,Federal Territory of Kuala Lumpur,None,Wilayah Persekutuan,Federal Territory,None,MY.KL,"POLYGON ((101.73227 3.03781, 101.70284 3.03007..."
4,MYS,Malaysia,MYS.5_1,Labuan,Federal Territory of Labuan,None,Wilayah Persekutuan,Federal Territory,None,MY.LA,"MULTIPOLYGON (((115.14328 5.18610, 115.13979 5..."

In [15]:
gadm_2.head()

,GID_0,NAME_0,GID_1,NAME_1,NL_NAME_1,GID_2,NAME_2,VARNAME_2,NL_NAME_2,TYPE_2,ENGTYPE_2,CC_2,HASC_2,geometry
0,MYS,Malaysia,MYS.1_1,Johor,None,MYS.1.1_1,Batu Pahat,None,None,Daerah,District,None,MY.JH.BP,"POLYGON ((103.00595 1.73628, 103.00550 1.73682..."
1,MYS,Malaysia,MYS.1_1,Johor,None,MYS.1.2_1,Johor Baharu,Johor Bahru,None,Daerah,District,None,MY.JH.JH,"POLYGON ((103.98490 1.43269, 103.98450 1.43238..."
2,MYS,Malaysia,MYS.1_1,Johor,None,MYS.1.3_1,Keluang,Kluang,None,Daerah,District,None,MY.JH.KE,"POLYGON ((103.10678 2.16620, 103.10850 2.16923..."
3,MYS,Malaysia,MYS.1_1,Johor,None,MYS.1.4_1,Kota Tinggi,None,None,Daerah,District,None,MY.JH.KT,"MULTIPOLYGON (((104.05722 1.53083, 104.05750 1..."
4,MYS,Malaysia,MYS.1_1,Johor,None,MYS.1.5_1,Kulaijaya,None,None,Daerah,District,None,MY.JH.KU,"MULTIPOLYGON (((103.55091 1.52211, 103.54640 1..."

In [16]:
for index, gadm in gadm_2.iterrows():
    if gadm['geometry'].intersects(Point(long1, lat1)):
        print(gadm['NAME_0'])

Malaysia

In [17]:
for index, gadm in gadm_2.iterrows():
    if gadm['geometry'].intersects(Point(long1, lat1)):
        print(gadm['NAME_1'])

Selangor

In [18]:
for index, gadm in gadm_2.iterrows():
    if gadm['geometry'].intersects(Point(long1, lat1)):
        print(gadm['NAME_2'])

Petaling